# pixi environments
.pixi/*
!.pixi/config.toml
/cmake-build-*/
**/cmake-build-*/
CMakeCache.txt
CMakeFiles/
JavaProject/

# Maven build output
/target/

# Python cache files
__pycache__/
*.pyc
.idea
*.iml


# Node
node_modules/
